/* -------------------- INTRODUCTION -------------------- */

/* File: /web_server_root_directory/stylesheets/lwc/css_font_size_property.css.
 * Purpose: Secondary external style sheet for css_font_size_property.php. Contains styles specific to css_font_size_property.php that should not be included in lwc.css.
 * Used in: css_font_size_property.php.
 * Last reviewed/updated: 09 Feb 2017.
 * Published: 07 Jun 2016.
 * Web browser support: At least the web browser support for css_font_sizes.php. */

.fontsize5pt { font-size: 5pt; }
.fontsize6pt { font-size: 6pt; }
.fontsize7pt { font-size: 7pt; }
.fontsize8pt { font-size: 8pt; }
.fontsize9pt { font-size: 9pt; }
.fontsize10pt { font-size: 10pt; }
.fontsize11pt { font-size: 11pt; }
.fontsize12pt { font-size: 12pt; }
.fontsize13pt { font-size: 13pt; }
.fontsize14pt { font-size: 14pt; }
.fontsize15pt { font-size: 15pt; }
.fontsize16pt { font-size: 16pt; }
.fontsize17pt { font-size: 17pt; }
.fontsize18pt { font-size: 18pt; }
.fontsize19pt { font-size: 19pt; }
.fontsize20pt { font-size: 20pt; }
.fontsize21pt { font-size: 21pt; }
.fontsize22pt { font-size: 22pt; }
.fontsize23pt { font-size: 23pt; }
.fontsize24pt { font-size: 24pt; }
.fontsize7px { font-size: 7px; }
.fontsize8px { font-size: 8px; }
.fontsize9px { font-size: 9px; }
.fontsize10px { font-size: 10px; }
.fontsize11px { font-size: 11px; }
.fontsize12px { font-size: 12px; }
.fontsize13px { font-size: 13px; }
.fontsize14px { font-size: 14px; }
.fontsize15px { font-size: 15px; }
.fontsize16px { font-size: 16px; }
.fontsize17px { font-size: 17px; }
.fontsize18px { font-size: 18px; }
.fontsize19px { font-size: 19px; }
.fontsize20px { font-size: 20px; }
.fontsize21px { font-size: 21px; }
.fontsize22px { font-size: 22px; }
.fontsize23px { font-size: 23px; }
.fontsize24px { font-size: 24px; }
.fontsize25px { font-size: 25px; }
.fontsize26px { font-size: 26px; }
.fontsize27px { font-size: 27px; }
.fontsize28px { font-size: 28px; }
.fontsize29px { font-size: 29px; }
.fontsize30px { font-size: 30px; }
.fontsize31px { font-size: 31px; }
.fontsize32px { font-size: 32px; }
.fontsizexxsmall { font-size: xx-small; }
.fontsizexsmall { font-size: x-small; }
.fontsizesmall { font-size: small; }
.fontsizemedium { font-size: medium; }
.fontsizelarge { font-size: large; }
.fontsizexlarge { font-size: x-large; }
.fontsizexxlarge { font-size: xx-large; }
