* {
  line-height: 1.15;
  text-align: center;
  margin: 0;
}
body {
  position: relative;
  z-index: 1;
}
.header-class {
  height: 150px;
  background-color: #fcc;
}
.main-class {
  background-color: #cfc;
  margin-bottom: 430px;
}
.footer-class {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 430px;
  background-color: #ccf;
}